*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    border: 2px solid black;
    background-color: darkcyan;
}

div {
    overflow: hidden;
    white-space: nowrap;
}

#readout {
    width: 400px;
    height: 55px;
    overflow: hidden;
    text-overflow: clip;
    direction: rtl;
    text-align: right;
    border: 2px solid blue;
    font-size: 32px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #aaa;
}

.buttons {
    display: flex;
}

button {
    font-size: 20px;
    height: 60px;
    width: 60px;
    margin: 8px;
    flex: 1;
}